<header>
    <ul>
        <li>Index {{link-to 'Index Page' 'index'}}</li>
        <li>Structure {{link-to 'Structure Page' 'structure'}}</li>
    </ul>
</header>

{{outlet}}

<footer>Wow, much footer</footer>