{{partial 'header'}}

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Default Form</h2>
            <p>All form elements by default are set to 100% width with a 1px border which on focus will turn blue to allow the user to clearly see which field they are currently on.</p>
            <ol class="columns-2">
                <li>
                    <form action="javascript:void(0);">
                        <fieldset>
                            <label for="text">First Name</label>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam expedita fugiat laborum odio officiis corrupti numquam sunt magni aspernatur alias a asperiores illum voluptates quod, aliquam reprehenderit cupiditate blanditiis? Officiis.</p>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="1" />
                        </fieldset>
                        <fieldset>
                            <label for="text">Last Name</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="1" />
                        </fieldset>
                        <fieldset>
                            <label for="text">Your Age</label>
                            <span class="select" tabindex="10">
                                <select>
                                    <option selected disabled>-- Choose your age --</option>
                                    <option value="">0 - 10</option>
                                    <option value="">11 - 20</option>
                                    <option value="">21 - 30</option>
                                    <option value="">31 - 40</option>
                                    <option value="">41 - 50</option>
                                    <option value="">50+</option>
                                </select>
                            </span>
                        </fieldset>
                        <fieldset>
                            <label for="text">Message</label>
                            <textarea cols="50" rows="4" name="comment" placeholder="Write your message here"></textarea>
                        </fieldset>
                        <fieldset>
                            <button class="btn btn--color-positive">Save</button>
                        </fieldset>
                    </form>
                </li>
                <li>
                    <pre><code>&lt;form&gt;
    &lt;fieldset&gt;
        &lt;label for="text"&gt;Input&lt;/label&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet&lt;/p&gt;
        &lt;input type="text" name="text" id="text" placeholder="" tabindex="1" /&gt;
    &lt;/fieldset&gt;

    &lt;fieldset&gt;
        &lt;label for="text"&gt;Input&lt;/label&gt;
        &lt;input type="text" name="text" id="text" placeholder="" tabindex="1" /&gt;
    &lt;/fieldset&gt;

    &lt;fieldset&gt;
        &lt;label for="text"&gt;Select&lt;/label&gt;
        &lt;span class="select"&gt;
            &lt;select&gt;
                &lt;option&gt;Option 1&lt;/option&gt;
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/fieldset&gt;

    &lt;fieldset&gt;
        &lt;label for="text"&gt;Message&lt;/label&gt;
        &lt;textarea cols="50" rows="4" name="comment"&gt;&lt;/textarea&gt;
    &lt;/fieldset&gt;

    &lt;fieldset&gt;
        &lt;button class="btn btn--color-positive"&gt;Save&lt;/button&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>


<div name="forms" class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Hidden &amp; Inline Labels</h2>
            <p>If having forms with no labels or inline labels is your thing you can override the default behavior with the class <code>labels-hidden</code> or <code>labels-inline</code> to the form element.</p>
            <ol class="columns-2">
                <li>
                    <form class="labels-hidden" action="javascript:void(0);">
                        <fieldset>
                            <label for="text">First Name</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="1" />
                        </fieldset>
                        <fieldset>
                            <label for="text">Last Name</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="1" />
                        </fieldset>
                        <fieldset>
                            <label for="text">Your Age</label>
                            <span class="select" tabindex="10">
                                <select>
                                    <option selected disabled>-- Choose your age --</option>
                                    <option value="">0 - 10</option>
                                    <option value="">11 - 20</option>
                                    <option value="">21 - 30</option>
                                    <option value="">31 - 40</option>
                                    <option value="">41 - 50</option>
                                    <option value="">50+</option>
                                </select>
                            </span>
                        </fieldset>
                        <fieldset>
                            <label for="text">Message</label>
                            <textarea cols="50" rows="4" name="comment" placeholder="Write your message here"></textarea>
                        </fieldset>
                        <fieldset>
                            <button class="btn btn--color-positive">Save</button>
                        </fieldset>
                    </form>

                    <pre><code>&lt;form class="labels-hidden"&gt;...&lt;/form&gt;</code></pre>
                </li>
                <li>
                    <form class="labels-inline" action="javascript:void(0);">
                        <fieldset>
                            <label for="text">First Name</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="1" />
                        </fieldset>
                        <fieldset>
                            <label for="text">Last Name</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="1" />
                        </fieldset>
                        <fieldset>
                            <label for="text">Your Age</label>
                            <span class="select" tabindex="10">
                                <select>
                                    <option selected disabled>-- Choose your age --</option>
                                    <option value="">0 - 10</option>
                                    <option value="">11 - 20</option>
                                    <option value="">21 - 30</option>
                                    <option value="">31 - 40</option>
                                    <option value="">41 - 50</option>
                                    <option value="">50+</option>
                                </select>
                            </span>
                        </fieldset>
                        <fieldset>
                            <label for="text">Message</label>
                            <textarea cols="50" rows="4" name="comment" placeholder="Write your message here"></textarea>
                        </fieldset>
                        <fieldset>
                            <button class="btn btn--color-positive">Save</button>
                        </fieldset>
                    </form>

                    <pre><code>&lt;form class="labels-inline"&gt;...&lt;/form&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Inline Fieldsets &amp; Elements</h2>
            <p>If you need two or more inputs next to each other or an action button, wrap your fieldset in a div with the class <code>inline-parent</code> and also give the fieldset the class of <code>inline-child</code>. In the case of inline buttons you will need to wrap the buttons in a div with the class <code>inline-btn-group</code>.</p>
            <ol class="columns-2">
                <li>
                    <h4 class="label">2x Fieldsets</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam expedita fugiat laborum odio officiis corrupti numquam sunt magni aspernatur alias a asperiores illum voluptates quod, aliquam reprehenderit cupiditate blanditiis? Officiis.</p>
                    <form action="javascript:void(0);">
                        <div class="inline-parent">
                            <fieldset class="inline-child">
                                <label for="text">First Name</label>
                                <input type="text" name="text" id="text" placeholder="Fox" tabindex="1" />
                            </fieldset>

                            <fieldset class="inline-child">
                                <label for="text">Last Name</label>
                                <input type="text" name="text" id="text" placeholder="Man" tabindex="1" />
                            </fieldset>
                        </div>
                    </form>
                </li>
                <li>
                    <pre><code>&lt;h4 class="has-help-txt"&gt;2x Fieldsets&lt;/h4&gt;
&lt;p&gt;...&lt;/p&gt;

&lt;div class="inline-parent"&gt;
    &lt;fieldset class="inline-child"&gt;...&lt;/fieldset&gt;
    &lt;fieldset class="inline-child"&gt;...&lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
                </li>
                <li>
                    <form action="javascript:void(0);">
                        <div class="inline-parent">
                            <fieldset class="inline-child">
                                <label for="text">First Name</label>
                                <input type="text" name="text" id="text" placeholder="Guy" tabindex="1" />
                            </fieldset>

                            <fieldset class="inline-child inline-child--grid-2">
                                <label for="text">Middle Name</label>
                                <input type="text" name="text" id="text" placeholder="Dude" tabindex="1" />
                            </fieldset>

                            <fieldset class="inline-child">
                                <label for="text">Last Name</label>
                                <input type="text" name="text" id="text" placeholder="Man" tabindex="1" />
                            </fieldset>
                        </div>
                    </form>
                </li>
                <li>
                    <pre><code>&lt;div class="inline-parent"&gt;
    &lt;fieldset class="inline-child"&gt;...&lt;/fieldset&gt;
    &lt;fieldset class="inline-child inline-child--grid-2"&gt;...&lt;/fieldset&gt;
    &lt;fieldset class="inline-child"&gt;...&lt;/fieldset&gt;
&lt;/div&gt;</code></pre>
                </li>

                <li>
                    <form action="javascript:void(0);">
                        <fieldset>
                            <label for="text">New User</label>
                            <div class="has-inline-elements">
                                <input type="text" name="text" id="text" placeholder="Enter users full name" tabindex="1" />
                                <span class="inline-btn-group">
                                    <button class="btn btn--color-positive" type="button">Add</button>
                                </span>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label for="text">Add a film</label>
                            <div class="has-inline-elements">
                                <span class="select" tabindex="11">
                                    <select>
                                        <option selected disabled>-- Select a Marvel film --</option>
                                        <option>Ant-Man</option>
                                        <optgroup label="Avengers">
                                            <option value="">The Avengers</option>
                                            <option value="">Avengers: Age of Ultron</option>
                                            <option value="">Avengers: Infinity War (Part I)</option>
                                            <option value="">Avengers: Infinity War (Part II)</option>
                                        </optgroup>
                                        <optgroup label="Captain America">
                                            <option value="">Captain America: The First Avenger</option>
                                            <option value="">Captain America: The Winter Soldier</option>
                                            <option value="">Captain America: Civil War</option>
                                        </optgroup>
                                        <option>Doctor Strange</option>
                                        <option>Guardians of the Galaxy</option>
                                        <option>The Incredible Hulk</option>
                                        <optgroup label="Ironman">
                                            <option value="">Iron Man</option>
                                            <option value="">Iron Man 2</option>
                                            <option value="">Iron Man 3</option>
                                        </optgroup>
                                        <optgroup label="Thor">
                                            <option value="">Thor</option>
                                            <option value="">Thor: The Dark World</option>
                                            <option value="">Thor: Ragnarok</option>
                                        </optgroup>
                                    </select>
                                </span>
                                <span class="inline-btn-group">
                                    <button class="btn btn--color-positive" type="button">Save</button>
                                    <button class="btn btn--style-ghost btn--hoverColor-negative" type="button">Cancel</button>
                                </span>
                            </div>
                        </fieldset>
                    </form>
                </li>
                <li>
                    <pre><code>&lt;fieldset&gt;
    &lt;label for="text"&gt;New User&lt;/label&gt;
    &lt;div class="has-inline-elements"&gt;
        &lt;input type="text" name="text" id="text" placeholder="Enter users full name" tabindex="1" /&gt;
        &lt;span class="inline-btn-group"&gt;
            &lt;button class="btn btn--color-positive" type="button"&gt;Add&lt;/button&gt;
            &lt;button class="btn btn--style-ghost btn--hoverColor-negative" type="button"&gt;Cancel&lt;/button&gt;
        &lt;/span&gt;
    &lt;/div&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div name="forms" class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Input widths</h2>
            <p>Overriding the default width of 100% can be done by adding a class of <code>input--grid-1</code> to <code>input--grid-9</code> with 1 being 10% and 9 being 90%.</p>
            <form action="javascript:void(0);">
                <fieldset>
                    <label for="text">First Name</label>
                    <input type="text" name="text" id="text" placeholder="First name" tabindex="1" class="input--grid-5" />
                </fieldset>
                <fieldset>
                    <label for="text">First Name</label>
                    <input type="text" name="text" id="text" placeholder="First name" tabindex="1" class="input--grid-1" />
                </fieldset>
            </form>

            <pre><code>&lt;input type="text" name="text" id="text" placeholder="" tabindex="1" class="input--grid-1" /&gt;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Inputs &amp; Selects</h2>            
            <ol class="columns-2">
                <li>
                    <form action="javascript:void(0);">
                        <fieldset>
                            <label for="text">Normal</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="1" />
                        </fieldset>
                        <fieldset disabled>
                            <label for="text">Disabled</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="4">
                        </fieldset>
                    </form>
                    <pre><code>&lt;fieldset&gt;
    &lt;label for="text"&gt;Normal&lt;/label&gt;
    &lt;input type="text" name="text" id="text" placeholder="" tabindex="1" /&gt;
&lt;/fieldset&gt;

&lt;fieldset disabled&gt;
    &lt;label for="text"&gt;Disabled&lt;/label&gt;
    &lt;input type="text" name="text" id="text" placeholder="" tabindex="1" /&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
                <li>
                    <form action="javascript:void(0);">
                        <fieldset>
                            <label for="text">Default</label>
                            <span class="select" tabindex="10">
                                <select>
                                    <option selected disabled>-- Select a Marvel film --</option>
                                    <option>Ant-Man</option>
                                    <optgroup label="Avengers">
                                        <option value="">The Avengers</option>
                                        <option value="">Avengers: Age of Ultron</option>
                                        <option value="">Avengers: Infinity War (Part I)</option>
                                        <option value="">Avengers: Infinity War (Part II)</option>
                                    </optgroup>
                                    <optgroup label="Captain America">
                                        <option value="">Captain America: The First Avenger</option>
                                        <option value="">Captain America: The Winter Soldier</option>
                                        <option value="">Captain America: Civil War</option>
                                    </optgroup>
                                    <option>Doctor Strange</option>
                                    <option>Guardians of the Galaxy</option>
                                    <option>The Incredible Hulk</option>
                                    <optgroup label="Ironman">
                                        <option value="">Iron Man</option>
                                        <option value="">Iron Man 2</option>
                                        <option value="">Iron Man 3</option>
                                    </optgroup>
                                    <optgroup label="Thor">
                                        <option value="">Thor</option>
                                        <option value="">Thor: The Dark World</option>
                                        <option value="">Thor: Ragnarok</option>
                                    </optgroup>
                                </select>
                            </span>
                        </fieldset>
                        <fieldset disabled>
                            <label for="text">Disabled</label>
                            <span class="select" tabindex="13">
                                <select>
                                    <option selected disabled>-- Select a Marvel film --</option>
                                    <option>Ant-Man</option>
                                    <optgroup label="Avengers">
                                        <option value="">The Avengers</option>
                                        <option value="">Avengers: Age of Ultron</option>
                                        <option value="">Avengers: Infinity War (Part I)</option>
                                        <option value="">Avengers: Infinity War (Part II)</option>
                                    </optgroup>
                                    <optgroup label="Captain America">
                                        <option value="">Captain America: The First Avenger</option>
                                        <option value="">Captain America: The Winter Soldier</option>
                                        <option value="">Captain America: Civil War</option>
                                    </optgroup>
                                    <option>Doctor Strange</option>
                                    <option>Guardians of the Galaxy</option>
                                    <option>The Incredible Hulk</option>
                                    <optgroup label="Ironman">
                                        <option value="">Iron Man</option>
                                        <option value="">Iron Man 2</option>
                                        <option value="">Iron Man 3</option>
                                    </optgroup>
                                    <optgroup label="Thor">
                                        <option value="">Thor</option>
                                        <option value="">Thor: The Dark World</option>
                                        <option value="">Thor: Ragnarok</option>
                                    </optgroup>
                                </select>
                            </span>
                        </fieldset>
                    </form>
                    <pre><code>&lt;fieldset&gt;
    &lt;label for="text"&gt;Select&lt;/label&gt;
    &lt;span class="select"&gt;
        &lt;select&gt;
            &lt;option&gt;Option 1&lt;/option&gt;
            &lt;option&gt;Option 2&lt;/option&gt;
            &lt;option&gt;Option 3&lt;/option&gt;
        &lt;/select&gt;
    &lt;/span&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Checkboxes</h2>
            <p>Use checkboxes when looking for yes or no answers. The for attribute is necessary to bind our custom checkbox with the input. Add the input's id as the value of the for attribute of the label.</p>
            <ol class="columns-2">
                <li>
                    <form action="javascript:void(0);">
                        <fieldset>
                            <label for="c1">Grouped</label>
                            <span class="checkbox">
                                <span>
                                    <input type="checkbox" tabindex="26" name="r4" id="r9" checked>
                                    <label for="r9">A leg</label>
                                </span>
                                <span>
                                    <input type="checkbox" tabindex="27" name="r4" id="r10">
                                    <label for="r10">B leg</label>
                                </span>
                            </span>
                        </fieldset>
                    </form>

                    <pre><code>&lt;fieldset&gt;
    &lt;label for="text"&gt;Checkbox&lt;/label&gt;
    &lt;span class="checkbox"&gt;
        &lt;span&gt;
            &lt;input type="checkbox" tabindex="20" name="r1" id="r1" checked&gt;
            &lt;label for="r1"&gt;On&lt;/label&gt;
        &lt;/span&gt;
    &lt;/span&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
                <li>
                    <form action="javascript:void(0);">
                        <fieldset>
                            <label for="text">Checkbox switch (Checked)</label>
                            <span class="checkbox switch">
                                <span>
                                    <input type="checkbox" tabindex="32" name="ct0" id="ct0" checked>
                                    <label for="ct0"></label>
                                </span>
                            </span>
                        </fieldset>
                        <pre><code>&lt;fieldset&gt;
    &lt;label for="text"&gt;Toggle checkbox&lt;/label&gt;
    &lt;span class="checkbox switch"&gt;
        &lt;span&gt;
            &lt;input type="checkbox" tabindex="20" name="r1" id="r1" checked&gt;
            &lt;label for="r1"&gt;On&lt;/label&gt;
        &lt;/span&gt;
    &lt;/span&gt;
&lt;/fieldset&gt;</code></pre>
                    </form>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Radios</h2>
            <p>Radio Buttons are used when the user must make only one selection out of a group of items</p>
            <ol class="columns-2">
                <li>
                    <form action="javascript:void(0);">
                        <fieldset>
                            <label for="text">Default</label>
                            <span class="radio">
                                <span>
                                    <input type="radio" checked="checked" tabindex="2" name="radio-toggle0" id="radiot1">
                                    <label for="radiot1"><span>Daily</span></label>
                                </span>
                                <span>
                                    <input type="radio" tabindex="3" name="radio-toggle0" id="radiot2">
                                    <label for="radiot2"><span>Monthly</span></label>
                                </span>
                            </span>
                        </fieldset>
                    </form>
                    <pre><code>&lt;fieldset&gt;
    &lt;label for="text"&gt;Toggle radio&lt;/label&gt;
    &lt;span class="radio"&gt;
        &lt;span&gt;
            &lt;input type="radio" tabindex="" name="" id="" checked&gt;
            &lt;label for=""&gt;Daily&lt;/label&gt;
        &lt;/span&gt;
        &lt;span&gt;
            &lt;input type="radio" tabindex="" name="" id=""&gt;
            &lt;label for=""&gt;Monthly&lt;/label&gt;
        &lt;/span&gt;
    &lt;/span&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
                <li>
                    <form action="javascript:void(0);">    
                        <fieldset>
                            <label for="text">Radio toggle</label>
                            <span class="radio toggle">
                                <span>
                                    <input type="radio" checked="checked" tabindex="2" name="radio-toggle3" id="radiot8">
                                    <label for="radiot8"><span>Default</span></label>
                                </span>
                                <span class="positive">
                                    <input type="radio" tabindex="3" name="radio-toggle3" id="radiot9">
                                    <label for="radiot9"><span>Positive</span></label>
                                </span>
                                <span class="info">
                                    <input type="radio" tabindex="3" name="radio-toggle3" id="radiot10">
                                    <label for="radiot10"><span>Info</span></label>
                                </span>
                                <span class="warning">
                                    <input type="radio" tabindex="3" name="radio-toggle3" id="radiot11">
                                    <label for="radiot11"><span>Warning</span></label>
                                </span>
                                <span class="negative">
                                    <input type="radio" tabindex="3" name="radio-toggle3" id="radiot12">
                                    <label for="radiot12"><span>Negative</span></label>
                                </span>
                            </span>
                        </fieldset>
                    </form>
                    <pre><code>&lt;fieldset&gt;
    &lt;label for="text"&gt;Toggle radio&lt;/label&gt;
    &lt;span class="radio toggle"&gt;
        &lt;span&gt;
            &lt;input type="radio" tabindex="" name="" id="" checked&gt;
            &lt;label for=""&gt;Daily&lt;/label&gt;
        &lt;/span&gt;
        &lt;span class="warning"&gt;
            &lt;input type="radio" tabindex="" name="" id=""&gt;
            &lt;label for=""&gt;Yearly&lt;/label&gt;
        &lt;/span&gt;
    &lt;/span&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Validation states</h2>
            <p>To show your users error / validation messages all you need to do is add a wrapper class like a <code>span</code> and give it the class of <code>.message</code>, add it under the input with your message and by default it is hidden until you add the class of <code>.invalid</code> to it's fieldset.</p>
            <ol class="columns-2">
                <li>
                    <form action="javascript:void(0);">
                        <fieldset class="invalid">
                            <label for="text">Invalid with message</label>
                            <input type="text" name="text" id="text" placeholder="Enter your full name" tabindex="5" />
                            <span class="message">Sorry looks like you choose poorly.</span>
                        </fieldset>
                    </form>
                    <pre><code>&lt;fieldset class="invalid"&gt;
    &lt;label for="text"&gt;Input&lt;/label&gt;
    &lt;input type="text" name="text" id="text" placeholder="" tabindex="1" /&gt;
    &lt;span class="message"&gt;Sorry looks like you choose poorly.&lt;/span&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
                <li>
                    <form action="javascript:void(0);">
                        <fieldset class="invalid">
                            <label for="text">Invalid with message </label>
                            <span class="select" tabindex="14">
                                <select>
                                    <option selected disabled>-- Select a Marvel film --</option>
                                    <option>Ant-Man</option>
                                    <optgroup label="Avengers">
                                        <option value="">The Avengers</option>
                                        <option value="">Avengers: Age of Ultron</option>
                                        <option value="">Avengers: Infinity War (Part I)</option>
                                        <option value="">Avengers: Infinity War (Part II)</option>
                                    </optgroup>
                                    <optgroup label="Captain America">
                                        <option value="">Captain America: The First Avenger</option>
                                        <option value="">Captain America: The Winter Soldier</option>
                                        <option value="">Captain America: Civil War</option>
                                    </optgroup>
                                    <option>Doctor Strange</option>
                                    <option>Guardians of the Galaxy</option>
                                    <option>The Incredible Hulk</option>
                                    <optgroup label="Ironman">
                                        <option value="">Iron Man</option>
                                        <option value="">Iron Man 2</option>
                                        <option value="">Iron Man 3</option>
                                    </optgroup>
                                    <optgroup label="Thor">
                                        <option value="">Thor</option>
                                        <option value="">Thor: The Dark World</option>
                                        <option value="">Thor: Ragnarok</option>
                                    </optgroup>
                                </select>
                            </span>
                            <span class="message">Sorry looks like you choose poorly.</span>
                        </fieldset>
                    </form>
                    <pre><code>&lt;fieldset class="invalid"&gt;
    &lt;label for="text"&gt;Select&lt;/label&gt;
    &lt;span class="select"&gt;...&lt;/span&gt;
    &lt;span class="message"&gt;Sorry looks like you choose poorly.&lt;/span&gt;
&lt;/fieldset&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Styled Links, Inputs &amp; Buttons</h2>
            <p>Use the btn classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>
            <a href="#" class="btn btn--color-default">Link</a>
            <button class="btn btn--color-default">Button</button>
            <input type="button" class="btn btn--color-default" value="Input">
            <input type="submit" class="btn btn--color-default" value="Submit" />
            <pre><code>&lt;a href="#" class="btn btn--color-default"&gt;Link&lt;/a&gt;
&lt;button class="btn btn--color-default"&gt;Button&lt;/button&gt;
&lt;input type="submit" class="btn btn--color-default" value="Submit"&gt;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Button sizes</h2>
            <p>Define a button size with .btn--size-s, .btn--size-m, .btn--size-l or .btn--size-xl. The default button size is .btn--size-m.</p>
            <button class="btn btn--size-xl">Extra Large</button>
            <button class="btn btn--size-l">Large</button>
            <button class="btn btn--size-m">Medium</button>
            <button class="btn btn--size-s">Small</button>
            <pre><code>&lt;a href="#" class="btn btn--size-s"&gt;...&lt;/a&gt;
&lt;button class="btn btn--size-s"&gt;...&lt;/button&gt;
&lt;button class="btn btn--size-l"&gt;...&lt;/button&gt;
&lt;button class="btn btn--size-xl"&gt;...&lt;/button&gt;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <ol class="columns-2">
                <li>
                    <h2>Colors</h2>
                    <p>Change the color of any button create a styled button.</p>
                    <button class="btn btn--color-positive">Positive</button>
                    <button class="btn btn--color-info">Info</button>
                    <button class="btn btn--color-warning">Warning</button>
                    <button class="btn btn--color-negative">Negative</button>
                    <pre><code>&lt;button class="btn btn--color-positive"&gt;...&lt;/button&gt;
&lt;button class="btn btn--color-info"&gt;...&lt;/button&gt;
&lt;button class="btn btn--color-warning"&gt;...&lt;/button&gt;
&lt;button class="btn btn--color-negative"&gt;...&lt;/button&gt;</code></pre>
                </li>
                <li>
                    <h2>Colors :hover</h2>
                    <p>Add <code>btn--hoverColor-positive</code> to create a styled hover button</p>
                    <button class="btn btn--hoverColor-positive">Positive</button>
                    <button class="btn btn--hoverColor-info">Info</button>
                    <button class="btn btn--hoverColor-warning">Warning</button>
                    <button class="btn btn--hoverColor-negative">Negative</button>
                    <pre><code>&lt;button class="btn btn--hoverColor-positive"&gt;...&lt;/button&gt;
&lt;button class="btn btn--hoverColor-info"&gt;...&lt;/button&gt;
&lt;button class="btn btn--hoverColor-warning"&gt;...&lt;/button&gt;
&lt;button class="btn btn--hoverColor-negative"&gt;...&lt;/button&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Ghost</h2>
            <p>Ghost buttons should be used to signify optional, infrequent or subtle actions. The color options are specified with an additional class <code>.btn--hoverColor-positive</code>, <code>.btn--hoverColor-info</code>, <code>.btn--hoverColor-warning</code>, etc.</p>
            <button class="btn btn--style-ghost">Default</button>
            <button class="btn btn--style-ghost btn--hoverColor-positive">Positive</button>
            <button class="btn btn--style-ghost btn--hoverColor-info">Info</button>
            <button class="btn btn--style-ghost btn--hoverColor-warning">Warning</button>
            <button class="btn btn--style-ghost btn--hoverColor-negative">Negative</button>
            <pre><code>&lt;button class="btn btn--style-ghost"&gt;...&lt;/button&gt;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Button states</h2>
            <p>Some buttons will need to have a state like if your site is loading or you want to give feedback like success or failure.</p>
            <button class="btn btn--state-loading">Loading</button>
            <button class="btn btn--state-successful">Success</button>
            <button class="btn btn--state-failure">Failure</button>
            <pre><code>&lt;button class="btn btn--state-loading"&gt;Loading&lt;/button&gt;
&lt;button class="btn btn--state-positiveful"&gt;positiveful&lt;/button&gt;
&lt;button class="btn btn--state-failure"&gt;Failure&lt;/button&gt;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Buttons with Icons</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil alias aut nam, temporibus quae soluta unde. Pariatur alias, itaque rem praesentium non odit eaque officiis nostrum omnis eum unde voluptatum.</p>
            <ol class="columns-3 txt-center">
                <li><button class="btn btn--hoverColor-positive"><svg aria-hidden="true" class="icon icon--type-github icon--onLeft" width="64" height="64" viewBox="0 0 64 64"><path d="M32 0L32 0C14.3 0 0 15.3 0 33.4c0 14.4 9.2 26.3 21.7 30.6 1.6 0.3 2.3-0.7 2.3-1.6 0-0.7 0-3 0-5.6 -9 2-10.9-4.3-10.9-4.3 -1.3-3.6-3.5-4.9-3.5-4.9 -2.9-2 0.3-2 0.3-2 3.2 0.3 4.8 3.3 4.8 3.3 2.9 5.3 7.7 3.9 9.3 3 0.3-2 1-3.6 1.9-4.3 -6.7-1-14.5-3.6-14.5-16.4 0-3.6 1.3-6.6 3.2-8.9 -0.3-0.7-1.3-3.9 0.3-8.5 0 0 2.6-1 8.7 3.3 2.9-0.7 5.8-1 8.4-1s5.5 0.3 8 1c6.1-4.3 8.7-3.3 8.7-3.3 1.6 4.6 0.6 7.9 0.3 8.5 1.9 2.3 3.2 5.3 3.2 8.9 0 12.5-7.3 15.4-14.6 16.1 1.3 1 2.4 3 2.4 6.2 0 4.3 0 7.9 0 8.9 0 1 0.5 2 2.1 1.6C55 59.7 64 47.8 64 33.4 64.3 15.3 49.6 0 32 0z"/></svg>Button</button></li>
                <li><button class="btn btn--hoverColor-info"><svg aria-hidden="true" class="icon icon--type-github" width="64" height="64" viewBox="0 0 64 64"><path d="M32 0L32 0C14.3 0 0 15.3 0 33.4c0 14.4 9.2 26.3 21.7 30.6 1.6 0.3 2.3-0.7 2.3-1.6 0-0.7 0-3 0-5.6 -9 2-10.9-4.3-10.9-4.3 -1.3-3.6-3.5-4.9-3.5-4.9 -2.9-2 0.3-2 0.3-2 3.2 0.3 4.8 3.3 4.8 3.3 2.9 5.3 7.7 3.9 9.3 3 0.3-2 1-3.6 1.9-4.3 -6.7-1-14.5-3.6-14.5-16.4 0-3.6 1.3-6.6 3.2-8.9 -0.3-0.7-1.3-3.9 0.3-8.5 0 0 2.6-1 8.7 3.3 2.9-0.7 5.8-1 8.4-1s5.5 0.3 8 1c6.1-4.3 8.7-3.3 8.7-3.3 1.6 4.6 0.6 7.9 0.3 8.5 1.9 2.3 3.2 5.3 3.2 8.9 0 12.5-7.3 15.4-14.6 16.1 1.3 1 2.4 3 2.4 6.2 0 4.3 0 7.9 0 8.9 0 1 0.5 2 2.1 1.6C55 59.7 64 47.8 64 33.4 64.3 15.3 49.6 0 32 0z"/></svg></button></li>
                <li><button class="btn btn--hoverColor-negative">Button<svg aria-hidden="true" class="icon icon--type-github icon--onRight" width="64" height="64" viewBox="0 0 64 64"><path d="M32 0L32 0C14.3 0 0 15.3 0 33.4c0 14.4 9.2 26.3 21.7 30.6 1.6 0.3 2.3-0.7 2.3-1.6 0-0.7 0-3 0-5.6 -9 2-10.9-4.3-10.9-4.3 -1.3-3.6-3.5-4.9-3.5-4.9 -2.9-2 0.3-2 0.3-2 3.2 0.3 4.8 3.3 4.8 3.3 2.9 5.3 7.7 3.9 9.3 3 0.3-2 1-3.6 1.9-4.3 -6.7-1-14.5-3.6-14.5-16.4 0-3.6 1.3-6.6 3.2-8.9 -0.3-0.7-1.3-3.9 0.3-8.5 0 0 2.6-1 8.7 3.3 2.9-0.7 5.8-1 8.4-1s5.5 0.3 8 1c6.1-4.3 8.7-3.3 8.7-3.3 1.6 4.6 0.6 7.9 0.3 8.5 1.9 2.3 3.2 5.3 3.2 8.9 0 12.5-7.3 15.4-14.6 16.1 1.3 1 2.4 3 2.4 6.2 0 4.3 0 7.9 0 8.9 0 1 0.5 2 2.1 1.6C55 59.7 64 47.8 64 33.4 64.3 15.3 49.6 0 32 0z"/></svg></button></li>
            </ol>
            <h4>HTML</h4>
            <pre><code>&lt;button class="btn btn--hoverColor-positive"&gt;&lt;svg aria-hidden="true" class="icon icon--type-github icon--onLeft" width="64" height="64" viewBox="0 0 64 64"&gt;...&lt;/svg&gt;Button&lt;/button&gt;
&lt;button class="btn btn--hoverColor-info"&gt;&lt;svg aria-hidden="true" class="icon icon--type-github" width="64" height="64" viewBox="0 0 64 64"&gt;...&lt;/svg&gt;&lt;/button&gt;
&lt;button class="btn btn--hoverColor-negative"&gt;Button&lt;svg aria-hidden="true" class="icon icon--type-github icon--onRight" width="64" height="64" viewBox="0 0 64 64"&gt;...&lt;/svg&gt;&lt;/button&gt;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Button Groups</h2>
            <p>If you want to group buttons together, wrap them in a container and use the <code>btn-group</code> modifier.</p>
            <div class="btn-group">
                <button class="btn btn--color-default">Button</button>
                <button class="btn btn--color-default">Button</button>
                <button class="btn btn--color-default">Button</button>
            </div>
            <pre><code>&lt;div class="btn-group"&gt;
    &lt;button class="btn btn--color-default"&gt;Button&lt;/button&gt;
    &lt;button class="btn btn--color-default"&gt;Button&lt;/button&gt;
    &lt;button class="btn btn--color-default"&gt;Button&lt;/button&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="grid-12">
        <ol class="bottom-navigation">
            <li>
                {{#link-to "stylekit" class="btn btn--size-m btn--color-brand"}}
                    <svg aria-hidden="true" class="icon icon--size-s icon--type-arrowFullLeft icon--onLeft" width="64" height="64" viewBox="0 0 64 64"><path d="M61.1 29L9.3 29 29.5 8.8c0.4-0.4 0.7-0.8 0.8-1.3 0.6-3-2.8-4.6-4.8-2.7L1.2 29.1c-1.6 1.6-1.6 4.1 0 5.7l24.3 24.3c1.5 1.5 3.6 1.3 4.6-0.6 0.6-1.1 0.3-2.4-0.5-3.3L9.4 35H61c2.1 0 3.7-2.2 2.7-4.4C63.2 29.6 62.2 29 61.1 29z"/></svg>Style Kit
                {{/link-to}}
            </li>
        </ol>
    </div>
</div>
