<div class="header">
  <div class="row row--align-center">
    <div class="grid-8 grid-12-tablet">
      {{headerLogo}}
      <h1>{{headerTitle}}</h1>
      <p class="h3">{{headerCopy}}</p>
      {{headerButton}}
    </div>
  </div>
</div>
