<div class="header">
  <div class="row row--align-center">
    <div class="grid-8 grid-12-tablet">
      {{headerLogo}}
      <h1 class="txt--fontSize-xxl">{{headerTitle}}</h1>
      <p class="txt--fontSize-m">{{headerCopy}}</p>
      {{headerButton}}
    </div>
  </div>
</div>