{{partial 'header' }}

<div class="section section--features">
  <div class="row row--align-center">
    <div class="grid-8 txt--center txt-left-mobile">
      <h2>Creating responsive websites just got a whole lot quicker!</h2>
      <p>Amazium 4 has been created to make building your prototype as easy and quick as possible. It includes a ton of modular components from Typography to Forms that will allow you to focus on the more inportant things like your design.</p>
    </div>
  </div>
  <div class="row">
    <div class="grid-12 txt--center txt-left-mobile">
      <ol class="columns columns-3-desktop columns-2-tablet columns-1-mobile">
        <li class="column">
          <img src="img/icon-sass.png" alt="">
          <h3>SCSS &amp; Flexbox</h3>
          <p>Amazium now ships with the popular CSS preprocessor Sass. And as global support for the magical flexbox is over 94% we felt it was time to make the move, and in doing so we can do much more than before in terms of alignment, spacing, ordering and with very little additional code added.</p>
        </li>
        <li class="column">
          <img src="img/icon-grids.png" alt="">
          <h3>Customizable Grid</h3>
          <p>You can set your own parameters as Amazium now uses awesome SCSS to do its grid system which gives you the option to set grid width, column amount and gutter width., Want only 10 columns with 100px gutters sure go for it.</p>
        </li>
        <li class="column">
          <img src="img/icon-stopwatch.png" alt="">
          <h3>Quick Start</h3>
          <p>Amazium now follows the <a href="https://en.bem.info/methodology/" target="_blank">BEM methodology</a> which means we can create extendable and reusable interface components, and as most projects use the same components, code reuse significantly reduces price and time of development.</p>
        </li>
        <li class="column">
          <img src="img/icon-mobile.png" alt="">
          <h3>Mobile First</h3>
          <p>We use the mobile-first approach for styling which means styles are applied first to mobile devices. This in turn means fewer overrides to code for meaning less complicated stylesheets.</p>
        </li>
        <li class="column">
          <img src="img/icon-code.png" alt="">
          <h3>Simple Codebase</h3>
          <p>As were using the BEM methodology all of the styling in Amazium can easily be overrided by your own if needed.</p>
        </li>
        <li class="column">
          <img src="img/icon-box.png" alt="">
          <h3>Smaller than most</h3>
          <p>Amazium is small! Out of the box it's total filesize of every component and class weighs in at a massive ~9KB (gzipped). All you need to worry about now are your massive uncompressed PNG's.</p>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="section section--stripe">
  <div class="row">
    <div class="grid-4">
      <pre><code>MyWebsite/
│
├─ dist/
│  └─ amazium.css
├─ scss/
│  ├─ _base.scss
│  ├─ _buttons.scss
│  ├─ _columns.scss
│  ├─ _form.scss
│  ├─ _grid.scss
│  ├─ _variables.scss
│  └─ amazium.scss
├─ license
└─ readme.md</code></pre>
    </div>
    <div class="grid-6">
      <h2>Files included</h2>
      <p>Once you have <a href="https://github.com/OwlyStuff/amazium/releases/latest" target="_blank">downloaded Amazium</a>, all that's left to do is make sure you have linked up the files properly in your webpage.</p>
      <p>You'll see that we have broken up some of the styling elements into separate files to make upgrading easier for you in the future.</p>
      <a href="https://github.com/OwlyStuff/Amazium/releases/latest" target="_blank" class="btn btn--m btn--color-brand"><svg aria-hidden="true" class="icon icon--size-m icon--type-arrowDownload icon--onLeft" width="64" height="64" viewBox="0 0 64 64"><path class="st0" d="M56.9 12.3c-0.6 0.1-1.2 0.4-1.7 0.8 -3 3-17.7 17.7-21.3 21.3 -0.6 0.6-1.4 1-2.3 0.9 -0.9-0.1-1.2-0.6-2-1.4L8.9 13.2c-0.5-0.5-1-0.8-1.7-0.8C4.4 12 3 15.3 4.8 17.1l24.3 24.3c1.6 1.6 4.1 1.6 5.7 0l24.4-24.4C61 15.2 59.6 12 56.9 12.3z"></path><path class="st0" d="M57.1 53.2H7c-1.6 0-2.9-1.3-2.9-2.9v0c0-1.6 1.3-2.9 2.9-2.9h50.1c1.6 0 2.9 1.3 2.9 2.9v0C60 51.9 58.7 53.2 57.1 53.2z"></path></svg>Download</a>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="grid-12">
      <h2>HTML Page Markup</h2>
      <p>Getting started is easy all you need to do is start with a standard page like the one below</p>
      <pre><code>&lt;!doctype html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;title&gt;MyWebsite&lt;/title&gt;
  &lt;meta name="description" content=""&gt;
  &lt;meta name="author" content=""&gt;

  &lt;!-- Mobile Specific Metas --&gt;
  &lt;meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /&gt;

  &lt;!-- CSS --&gt;
  &lt;link rel="stylesheet" href="path/to/amazium.css"&gt;
  &lt;link rel="stylesheet" href="styles/layout/layout.css"&gt;

  &lt;!-- Favicons --&gt;
  &lt;link rel="shortcut icon" href="img/favicon.ico"&gt;
  &lt;link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png"&gt;
&lt;/head&gt;
&lt;body&gt;

  ...

&lt;/body&gt;
&lt;/html&gt;</code></pre>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="grid-12">
      <h3 class="txt--fontSize-l txt--lineHeight-l">Sites containing Amazium</h3>
      <p>Amazium has been used in building websites since 2010, and below are some sites that use it.</p>
      <ol class="columns columns-4-desktop columns-3-tablet columns-2-mobile txt--center">
        <li class="column">
          <a href="http://www.infinitycloud.com" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/infinity.jpg" alt=""></span>
          <p class="txt--align-center">Infinity Cloud</p>
        </li>
        <li class="column">
          <a href="http://www.targetcarleasing.co.uk" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/target.jpg" alt=""></span>
          <p class="txt--align-center">Target Car Leasing</p>
        </li>
        <li class="column">
          <a href="http://www.protegem.co.uk" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/protegem.jpg" alt=""></span>
          <p class="txt--align-center">Protegem</p>
        </li>
        <li class="column">
          <a href="http://www.psvcabins.co.uk" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/psvcabins.jpg" alt=""></span>
          <p class="txt--align-center">PSV Cabins</p>
        </li>
        <li class="column">
          <a href="http://www.carmelitawine.com" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/carmeleta.jpg" alt=""></span>
          <p class="txt--align-center">Carmelita Wine</p>
        </li>
        <li class="column">
          <a href="http://www.mikeballan.co.uk" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/mikeballan.jpg" alt=""></span>
          <p class="txt--align-center">Mike Ballan</p>
        </li>
        <li class="column">
          <a href="http://www.punchoutphp.com" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/punchoutphp.jpg" alt=""></span>
          <p class="txt--align-center">Punchout PHP</p>
        </li>
        <li class="column">
          <a href="http://mikeballan.tumblr.com" target="_blank" class="cover"></a>
          <span class="screenshot"><img src="img/containing/isaac.jpg" alt=""></span>
          <p class="txt--align-center">Isaac - Tumblr Theme</p>
        </li>
      </ol>
    </div>
  </div>
</div>
