{{partial 'header'}}

<div class="row">
    <div class="grid-12">
        <ol class="columns-3 txt-center">
            <li>
                {{#link-to "prototype-avatar" class="cover"}}{{/link-to}}
                <span class="screenshot"><img src="img/prototype-avatar.gif" alt=""></span>
                <h4>Avatar</h4>
            </li>
            <li>
                {{#link-to "prototype-dropdowns" class="cover"}}{{/link-to}}
                <span class="screenshot"><img src="img/prototype-dropdowns.gif" alt=""></span>
                <h4>Dropdowns</h4>
            </li>
            <li>
                {{#link-to "prototype-icons" class="cover"}}{{/link-to}}
                <span class="screenshot"><img src="img/prototype-icons.gif" alt=""></span>
                <h4>Icons</h4>
            </li>
            <li>
                {{#link-to "prototype-stepped-list" class="cover"}}{{/link-to}}
                <span class="screenshot"><img src="img/prototype-stepped-list.gif" height="219" width="403" alt=""></span>
                <h4>Stepped list</h4>
            </li>
            <li>
                {{#link-to "prototype-qanda-data-tables" class="cover"}}{{/link-to}}
                <span class="screenshot"><img src="img/prototype-qanda-data-tables.gif" height="219" width="403" alt=""></span>
                <h4>Q&amp;A Data Tables</h4>
            </li>
           <li>
                {{#link-to "prototype-owly-slider" class="cover"}}{{/link-to}}
                <span class="screenshot"><img src="img/prototype-owly-slider.gif" alt=""></span>
                <h4>Owly Slider</h4>
            </li>
        </ol>
    </div>
</div>
