{{partial 'header'}}

<div class="row">
    <div class="grid-12">
        <ol class="columns-3 txt-center">
            <li>
                <a href="prototype-owly-slider.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-owly-slider.gif" alt=""></span>
                <h4>Owly Slider</h4>
            </li>
            <li>
                <a href="prototype-day-nite-toggle.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-day-nite-toggle.gif" alt=""></span>
                <h4>Day/Nite Toggle</h4>
            </li>
            <li>
                <a href="prototype-dropdowns.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-dropdowns.gif" alt=""></span>
                <h4>Dropdowns</h4>
            </li>
            <li>
                <a href="prototype-magic-labels.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-magic-labels.gif" alt=""></span>
                <h4>Magic lables</h4>
            </li>
            <li>
                <a href="prototype-icons.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-icons.gif" alt=""></span>
                <h4>Icons</h4>
            </li>
            <li>
                <a href="prototype-avatar.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-avatar.gif" alt=""></span>
                <h4>Avatar</h4>
            </li>
            <li>
                <a href="prototype-login.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-login.gif" height="219" width="403" alt=""></span>
                <h4>Login</h4>
            </li>
            <li>
                <a href="prototype-modal.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-modal.gif" alt=""></span>
                <h4>Modal</h4>
            </li>
            <li class="bottom-border">
                <a href="prototype-stepped-list.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-stepped-list.gif" height="219" width="403" alt=""></span>
                <h4>Stepped list</h4>
            </li>
            <li>
                <a href="prototype-columned-lists.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-columned-lists.gif" height="219" width="403" alt=""></span>
                <h4>Columned lists</h4>
            </li>
            <li>
                <a href="prototype-qanda-data-tables.html" class="overall"></a>
                <span class="screenshot"><img src="img/prototype-qanda-data-tables.gif" height="219" width="403" alt=""></span>
                <h4>Q&amp;A Data Tables</h4>
            </li>
        </ol>
    </div>
</div>
