{{partial 'header'}}

<style>
    .slide-container                                            { margin:0 0 50px; width:100%; overflow:hidden; }

    .owly-slider                                                { margin:0 0 20px; padding:0; width:100%; height:580px; list-style:none; position:relative; top:0; left:0; }
    .owly-slider li                                             { margin:0; padding:0; width:100%; position:absolute; top:0; left:0; }
    .owly-slider li img                                         { width:100%; height:auto; }

    .owly-slider li .slide-txt                                  { padding:20px; width:100%; color:#FFF; background-color:rgba(0,0,0,0.2); position:absolute; bottom:0; left:0; }
    .owly-slider li .slide-txt h2                               { margin:0; color:#FFF; }
    .owly-slider li .slide-txt p:last-child                     { margin:0; }

    .owly-slider-steps                                          { margin:0; padding:0; text-align:center; width:100%; }
    .owly-slider-steps li                                       { display:inline-block; line-height:16px; width:16px; height:16px; background-color:transparent; border:3px solid #333; cursor:pointer; transition:all .2s ease-out 0s; -moz-transition:all .2s ease-out 0s; -webkit-transition:all .2s ease-out 0s; -o-transition:all .2s ease-out 0s; }
    .owly-slider-steps li:hover                                 { border:3px solid #A88ABF; }
    .owly-slider-steps li.slide-active,
    .owly-slider-steps li.slide-active:hover                    { background-color:#A88ABF; border:3px solid #A88ABF; transition:all .2s ease-out 0s; -moz-transition:all .2s ease-out 0s; -webkit-transition:all .2s ease-out 0s; -o-transition:all .2s ease-out 0s; }

    .owly-slider-steps li.previous,
    .owly-slider-steps li.next                                  { border:none; }
</style>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <div class="slide-container">
                <ul class="owly-slider" data-slider="slide" data-slider-autoplay="true" data-slider-pagination="#paginate" data-slider-actions="#s1,#s2,#s3,#s4,#s5">
                    <li>
                        <img src="img/owly-slide-01.png" alt="Low Poly Blue by Jona Dinges">
                        <span class="slide-txt">
                            <h2>Low Poly Blue by Jona Dinges</h2>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        </span>
                    </li>
                    <li>
                        <img src="img/owly-slide-02.png" alt="Elephant by Jona Dinges">
                        <span class="slide-txt">
                            <h2>Elephant by Jona Dinges</h2>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        </span>
                    </li>
                    <li>
                        <img src="img/owly-slide-03.png" alt="Forest by Jona Dinges">
                        <span class="slide-txt">
                            <h2>Forest by Jona Dinges</h2>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        </span>
                    </li>
                    <li>
                        <img src="img/owly-slide-04.png" alt="Cenote by Jona Dinges">
                        <span class="slide-txt">
                            <h2>Cenote by Jona Dinges</h2>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        </span>
                    </li>
                    <li>
                        <img src="img/owly-slide-05.png" alt="Low Poly Viking Boat by Jona Dinges">
                        <span class="slide-txt">
                            <h2>Low Poly Viking Boat by Jona Dinges</h2>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        </span>
                    </li>
                </ul>
                <ol class="owly-slider-steps" id="paginate">
                    <li id="s1" data-slider-action="gotoSlide" data-slider-slide-index="0" class="slide-active"></li>
                    <li id="s2" data-slider-action="gotoSlide" data-slider-slide-index="1"></li>
                    <li id="s3" data-slider-action="gotoSlide" data-slider-slide-index="2"></li>
                    <li id="s4" data-slider-action="gotoSlide" data-slider-slide-index="3"></li>
                    <li id="s5" data-slider-action="gotoSlide" data-slider-slide-index="4"></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h4>HTML</h4>
            <pre><code>&lt;div class="slide-container"&gt;
    &lt;ul class="owly-slider" data-slider="slide" data-slider-autoplay="true" data-slider-pagination="#paginate" data-slider-actions="#s1,#s2,#s3,#s4,#s5"&gt;
        &lt;li&gt;
            &lt;img src="img/owly-slide-01.png" alt="Low Poly Blue by Jona Dinges"&gt;
            &lt;span class="slide-txt"&gt;
                &lt;h2&gt;Low Poly Blue by Jona Dinges&lt;/h2&gt;
                &lt;p&gt;Cras justo odio, dapibus ac facilisis in, egestas eget quam.&lt;/p&gt;
            &lt;/span&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
    &lt;ol class="owly-slider-steps" id="paginate"&gt;
        &lt;li id="s1" data-slider-action="gotoSlide" data-slider-slide-index="0" class="slide-active"&gt;&lt;/li&gt;
        &lt;li id="s2" data-slider-action="gotoSlide" data-slider-slide-index="1"&gt;&lt;/li&gt;
        &lt;li id="s3" data-slider-action="gotoSlide" data-slider-slide-index="2"&gt;&lt;/li&gt;
    &lt;/ol&gt;
&lt;/div&gt;</code></pre>

            <h4>CSS</h4>
            <pre><code>.slide-container                                            { margin:0 0 50px; width:100%; overflow:hidden; }

.owly-slider                                                { margin:0 0 20px; padding:0; width:100%; height:580px; list-style:none; position:relative; top:0; left:0; }
.owly-slider li                                             { margin:0; padding:0; width:100%; position:absolute; top:0; left:0; }
.owly-slider li img                                         { width:100%; height:auto; }

.owly-slider li .slide-txt                                  { padding:20px; width:100%; color:#FFF; background-color:rgba(0,0,0,0.2); position:absolute; bottom:0; left:0; }
.owly-slider li .slide-txt h2                               { margin:0; color:#FFF; }
.owly-slider li .slide-txt p:last-child                     { margin:0; }

.owly-slider-steps                                          { margin:0; padding:0; text-align:center; width:100%; }
.owly-slider-steps li                                       { display:inline-block; line-height:16px; width:16px; height:16px; background-color:transparent; border:3px solid #333; cursor:pointer; transition:all .2s ease-out 0s; -moz-transition:all .2s ease-out 0s; -webkit-transition:all .2s ease-out 0s; -o-transition:all .2s ease-out 0s; }
.owly-slider-steps li:hover                                 { border:3px solid #A88ABF; }
.owly-slider-steps li.slide-active,
.owly-slider-steps li.slide-active:hover                    { background-color:#A88ABF; border:3px solid #A88ABF; transition:all .2s ease-out 0s; -moz-transition:all .2s ease-out 0s; -webkit-transition:all .2s ease-out 0s; -o-transition:all .2s ease-out 0s; }

.owly-slider-steps li.previous,
.owly-slider-steps li.next                                  { border:none; }</code></pre>

            <p>The awesome artwork used in this example was made by <a href="https://dribbble.com/jonadinges" target="_blank">Jona Dinges</a> checkout all his work over on Dribbble..!</p>
        </div>
    </div>
</div>