{{partial 'header'}}

<style>
    .steps                                                      { margin:10px 0 30px; padding:0; list-style:none; border-top:2px solid #d3d7da; width:100%; display:table; }
    .steps li                                                   { margin:0; padding:24px 0 0; width:25%; float:left; text-align:center; color:#999; position:relative; top:0; left:0; }
    .steps li:before                                            { margin:0 0 0 -10px; content:'\2714'; font-size:11px; line-height:20px; color:#FFF; text-align:center; width:20px; height:20px; background-color:#2ECC71; border-radius:50%; display:block; position:absolute; top:-10px; left:50%; }

    .steps li:first-child                                       { text-align:left; }
    .steps li:first-child:before                                { margin:0; left:0; }

    .steps li:last-child                                        { text-align:right; }
    .steps li:last-child:before                                 { left:auto; right:0; }

    .steps li strong                                            { display:block; }

    .steps li.active                                            { color:#222; }
    .steps li.active:before                                     { content:''; background-color:#A88ABF; }

    .steps li.active ~ li:before                                { content:''; background-color:#d3d7da; }
</style>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <ol class="steps">
                <li><strong>Step 1:</strong> Personal details</li>
                <li class="active"><strong>Step 2:</strong> Billing details</li>
                <li><strong>Step 3:</strong> Confirmation</li>
                <li><strong>Step 4:</strong> Finished</li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h4>HTML</h4>
            <pre><code>&lt;ol class="steps"&gt;
    &lt;li&gt;&lt;strong&gt;Step 1:&lt;/strong&gt; Personal details&lt;/li&gt;
    &lt;li class="active"&gt;&lt;strong&gt;Step 2:&lt;/strong&gt; Billing details&lt;/li&gt;
    &lt;li&gt;&lt;strong&gt;Step 3:&lt;/strong&gt; Confirmation&lt;/li&gt;
    &lt;li&gt;&lt;strong&gt;Step 4:&lt;/strong&gt; Finished&lt;/li&gt;
&lt;/ol&gt;</code></pre>

            <h4>CSS</h4>
            <pre><code>.steps                                                      { margin:10px 0 30px; padding:0; list-style:none; border-top:2px solid #d3d7da; width:100%; display:table; }
.steps li                                                   { margin:0; padding:24px 0 0; width:25%; float:left; text-align:center; color:#999; position:relative; top:0; left:0; }
.steps li:before                                            { margin:0 0 0 -10px; content:'\2714'; font-size:11px; line-height:20px; color:#FFF; text-align:center; width:20px; height:20px; background-color:#2ECC71; border-radius:50%; display:block; position:absolute; top:-10px; left:50%; }

.steps li:first-child                                       { text-align:left; }
.steps li:first-child:before                                { margin:0; left:0; }

.steps li:last-child                                        { text-align:right; }
.steps li:last-child:before                                 { left:auto; right:0; }

.steps li strong                                            { display:block; }

.steps li.active                                            { color:#222; }
.steps li.active:before                                     { content:''; background-color:#A88ABF; }

.steps li.active ~ li:before                                { content:''; background-color:#d3d7da; }</code></pre>
        </div>
    </div>
</div>
