{{partial 'header'}}

<style>
    .dl--style-qanda dt            { margin:0 0 0 25px; padding:0 0 10px 15px; border-left:1px solid #BBB; position:relative; top:0; left:0; }
    .dl--style-qanda dt:before     { content:'Q'; color:#BBB; position:absolute; top:0; left:-25px; }

    .dl--style-qanda dd            { margin:0 0 50px 25px; padding:0 0 0 15px; border-left:1px solid #BBB; position:relative; top:0; left:0; }
    .dl--style-qanda dd:before     { content:'A'; color:#BBB; position:absolute; top:0; left:-25px; }
</style>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <dl class="dl--style-qanda">
                <dt>What... is your name?</dt>
                <dd>My name is Sir Lancelot of Camelot.</dd>
                <dt>What... is your quest?</dt>
                <dd>To seek the Holy Grail.</dd>
                <dt>What... is the air-speed velocity of an unladen swallow?</dt>
                <dd>What do you mean? An African or European swallow? Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</dd>
            </dl>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h4>HTML</h4>
            <pre><code>&lt;dl class="dl--style-qanda"&gt;
    &lt;dt&gt;What... is your name?&lt;/dt&gt;
    &lt;dd&gt;My name is Sir Lancelot of Camelot.&lt;/dd&gt;
&lt;/dl&gt;</code></pre>

            <h4>CSS</h4>
            <pre><code>.dl--style-qanda dt            { margin:0 0 0 25px; padding:0 0 10px 15px; border-left:1px solid #BBB; position:relative; top:0; left:0; }
.dl--style-qanda dt:before     { content:'Q'; color:#BBB; position:absolute; top:0; left:-25px; }

.dl--style-qanda dd            { margin:0 0 50px 25px; padding:0 0 0 15px; border-left:1px solid #BBB; position:relative; top:0; left:0; }
.dl--style-qanda dd:before     { content:'A'; color:#BBB; position:absolute; top:0; left:-25px; }</code></pre>
        </div>
    </div>
</div>
