{{partial 'header'}}

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Typefaces</h2>
            <p>Amazium's primary typeface is Maven Pro - a sans-serif typeface with unique curvature and flowing rhythm. Its forms make it very distinguishable and legible when in context. It blends styles of many great typefaces and is suitable for any design medium. Maven Pro’s modern design is great for the web and fits in any environment.</p>            <ol class="typeface txt-center">
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
                <li>e</li>
                <li>f</li>
                <li>g</li>
                <li>h</li>
                <li>i</li>
                <li>j</li>
                <li>k</li>
                <li>l</li>
                <li>m</li>
                <li>n</li>
                <li>o</li>
                <li>p</li>
                <li>q</li>
                <li>r</li>
                <li>s</li>
                <li>t</li>
                <li>u</li>
                <li>v</li>
                <li>w</li>
                <li>x</li>
                <li>y</li>
                <li>z</li>
                <li>0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
            </ol>
            <pre><code>font-family:'Maven Pro', sans-serif;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Grey colors</h2>
            <p>Grey colors are used for text, backgrounds, lines and borders. Smoke and Snow have two darker shades, which are used for icons and backgrounds.</p>
            <ol class="columns-4 bottom-border">
                <li><span class="color color--bg-black"><p><span>Black</span>#1A2730</p></span></li>
                <li><span class="color color--bg-slate"><p><span>Slate</span>#26343E</p></span></li>
                <li><span class="color color--bg-steel"><p><span>Steel</span>#33424D</p></span></li>
                <li><span class="color color--bg-silver"><p><span>Silver</span>#6A8092</p></span></li>
            </ol>
            <ol class="columns-2">
                <li>
                    <span class="color color--layer-top color--bg-smoke"><p><span>Smoke</span>#F0F2F4</p></span>
                    <span class="color color--layer-middle color--bg-smokeDark"><p><span>Smoke Dark</span>#D8D9DB</p></span>
                    <span class="color color--layer-bottom color--bg-smokeExtraDark"><p><span>Smoke Extra Dark</span>#C0C2C3</p></span>
                </li>

                <li>
                    <span class="color color--layer-top color--bg-snow"><p><span>Snow</span>#FFF</p></span>
                    <span class="color color--layer-middle color--bg-snowDark"><p><span>Snow Dark</span>#F3F3F3</p></span>
                    <span class="color color--layer-bottom color--bg-snowExtraDark"><p><span>Snow Extra Dark</span>#F7F7F7</p></span>
                </li>
            </ol>


            <h2>UI Colors</h2>
            <p>The main UI colors are used for action buttons, alert messages, and form elements. Input fields, for example, can get positive and negative feedback, whereas alert messages can have warning feedback.</p>
            <ol class="columns-4">
                <li>
                    <span class="color color--layer-top color--bg-info"><p><span>Info</span>#3498DB </p></span>
                    <span class="color color--layer-bottom color--bg-infoDark"><p><span>Info Dark</span>#206FA4 </p></span>
                </li>
                <li>
                    <span class="color color--layer-top color--bg-positive"><p><span>Positive</span>#29B765 </p></span>
                    <span class="color color--layer-bottom color--bg-positiveDark"><p><span>Positive Dark</span>#219358 </p></span>
                </li>
                <li>
                    <span class="color color--layer-top color--bg-negative"><p><span>Negative</span>#E74C3C</p></span>
                    <span class="color color--layer-bottom color--bg-negativeDark"><p><span>Negative Dark</span>#B93D30</p></span>
                </li>
                <li>
                    <span class="color color--layer-top color--bg-warning"><p><span>Warning</span>#FFC82C </p></span>
                    <span class="color color--layer-bottom color--bg-warningDark"><p><span>Warning Dark</span>#F8B700 </p></span>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Headings</h2>
            <p>All HTML headings, <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code>, are available, as well as companion classes <code>.h1</code> to <code>.h6</code> in case you need to match the font styling of a heading but still want your text to be displayed inline.</p>
        </div>
    </div>
    <div class="row">
        <div class="grid-12 demo">
            <h1><small>H1 - 38px</small>The quick brown fox jumps over the lazy dog</h1>
            <h2><small>H2 - 28px</small>The quick brown fox jumps over the lazy dog</h2>
            <h3><small>H3 - 20px</small>The quick brown fox jumps over the lazy dog</h3>
            <h4><small>H4 - 18px</small>The quick brown fox jumps over the lazy dog</h4>
            <h5><small>H5 - 16px</small>The quick brown fox jumps over the lazy dog</h5>
            <h6><small>H6 - 12px</small>The quick brown fox jumps over the lazy dog</h6>
            <pre><code>h1   { font-size:38px; line-height:40px; }
h2   { font-size:28px; line-height:30px; }
h3   { font-size:20px; line-height:22px; }
h4   { font-size:18px; line-height:20px; }
h5   { font-size:16px; line-height:18px; }
h6   { font-size:12px; line-height:14px; }</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Blockquotes</h2>
            <p>For a long time we were using cite in our blockquotes as the source until we realised that the cite should be put in the blockquote tag itself and we should be using figcaption instead.</p>
            <figure>
                <blockquote cite="http://www.amazium.co.uk">
                    <p>"Voilà! In view, a humble vaudevillian veteran, cast vicariously as both victim and villain by the vicissitudes of Fate. This visage, no mere veneer of vanity, is a vestige of the vox populi, now vacant, vanished. However, this valorous visitation of a by-gone vexation, stands vivified and has vowed to vanquish these venal and virulent vermin vanguarding vice and vouchsafing the violently vicious and voracious violation of volition.</p>
                    <p>The only verdict is vengeance; a vendetta, held as a votive, not in vain, for the value and veracity of such shall one day vindicate the vigilant and the virtuous. Verily, this vichyssoise of verbiage veers most verbose, so let me simply add that it's my very good honor to meet you and you may call me V."</p>
                </blockquote>
                <figcaption>
                    V - The man in room five<br><span>V for Vendetta</span>
                </figcaption>
            </figure>

            <pre><code>&lt;figure&gt;
    &lt;blockquote cite="http://www.warnerbros.com/v-vendetta"&gt;
        &lt;p&gt;Voilà! In view, a humble vaudevillian veteran...&lt;/p&gt;
        &lt;p&gt;The only verdict is vengeance; a vendetta...&lt;/p&gt;
    &lt;/blockquote&gt;
    &lt;figcaption&gt;
        V - The man in room five
        &lt;span&gt;V for Vendetta&lt;/span&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Lists</h2>
            <p>List are good for well listing things i guess, and we have made sure to style a number of them for you including unordered, ordered and definition lists.</p>
            <ol class="columns-2">
                <li>
                    <h3>Unordered</h3>
                    <ul>
                        <li>Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</li>
                        <li>Donec sed odio dui. Curabitur blandit tempus porttitor.
                            <ul>
                                <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <pre><code>&lt;ul&gt;
    &lt;li&gt;Nullam id dolor id...&lt;/li&gt;
    &lt;li&gt;
        Donec sed odio dui....
        &lt;ul&gt;
            &lt;li&gt;...&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
                </li>
                <li>
                    <h3>Ordered</h3>
                    <ol>
                        <li>Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</li>
                        <li>Donec sed odio dui. Curabitur blandit tempus porttitor.
                            <ol>
                                <li>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <pre><code>&lt;ul&gt;
    &lt;li&gt;Nullam id dolor id...&lt;/li&gt;
    &lt;li&gt;
        Donec sed odio dui....
        &lt;ul&gt;
            &lt;li&gt;...&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
                </li>
                <li>
                    <h3>Definition lists</h3>
                    <dl>
                        <dt>Title</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nullam Ligula</dd>
                        <dt>Another title</dt>
                        <dd>Sed fugit nobis, natus consequatur eos nemo animi, labore aliquam temporibus, magnam modi iste doloribus illum laboriosam qui odit cumque tenetur molestias.</dd>
                    </dl>
                </li>
                <li><pre><code>&lt;dl&gt;
    &lt;dd&gt;Title&lt;/dd&gt;
    &lt;dt&gt;Lorem ipsum dolor sit amet...&lt;/dt&gt;
    &lt;dd&gt;Another title&lt;/dd&gt;
    &lt;dt&gt;ed fugit nobis, natus consequatur...&lt;/dt&gt;
&lt;/dl&gt;</code></pre>
                </li>
                <li>
                    <h3>Definition lists (Inline)</h3>
                    <dl class="dl-inline">
                        <dt>Title</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nullam Ligula</dd>
                        <dt>Another title</dt>
                        <dd>Sed fugit nobis, natus consequatur eos nemo animi, labore aliquam temporibus, magnam modi iste doloribus illum laboriosam qui odit cumque tenetur molestias.</dd>
                    </dl>
                </li>
                <li><pre><code>&lt;dl class="dl-inline"&gt;
    &lt;dd&gt;Title&lt;/dd&gt;
    &lt;dt&gt;Lorem ipsum dolor sit amet...&lt;/dt&gt;
    &lt;dd&gt;Another title&lt;/dd&gt;
    &lt;dt&gt;ed fugit nobis, natus consequatur...&lt;/dt&gt;
&lt;/dl&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div id="tables" class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Message blocks</h2>
            <p>To show your users error / validation messages all you need to do is add a class of <code>.message</code>, By default the message block is the Slate color but by adding modifier classes you can change the color.</p>
            <ol class="columns-2 demo txt-left">
                <li>
                    <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus molestias, maxime quam odio velit commodi, nesciunt impedit deleniti praesentium. Quod necessitatibus animi quia cupiditate rerum, voluptate velit voluptas quasi aspernatur.</p>
                    <p class="message message--color-positive">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="message message--color-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="message message--color-warning">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p class="message message--color-negative">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </li>
                <li>
                    <pre><code>&lt;p class="message"&gt;...&lt;/p&gt;

&lt;p class="message message--color-positive"&gt;...&lt;/p&gt;
&lt;p class="message message--color-info"&gt;...&lt;/p&gt;
&lt;p class="message message--color-warning"&gt;...&lt;/p&gt;
&lt;p class="message message--color-negative"&gt;...&lt;/p&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>



<div id="tables" class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Tables</h2>
            <p>Back in the day tables were kings but nowadays they are only good for one thing and that's tabular data! Although our tables now come with some extra styling allowing them to be responsive.</p>
        </div>
    </div>
    <div class="row">
        <div class="grid-12">
            <table summary="This is an example of a table">
                <caption>Brother Eye database</caption>
                <thead>
                    <tr>
                        <th scope="col">#ID:</th>
                        <th scope="col">First Name:</th>
                        <th scope="col">Last Name:</th>
                        <th scope="col">Location:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="ID">#1</td>
                        <td data-title="First Name">Bruce</td>
                        <td data-title="Last Name">Wayne</td>
                        <td data-title="Location">Gotham City</td>
                    </tr>
                    <tr>
                        <td data-title="ID">#2</td>
                        <td data-title="First Name">Clarke</td>
                        <td data-title="Last Name">Kent</td>
                        <td data-title="Location">Metropilis</td>
                    </tr>
                    <tr>
                        <td data-title="ID">#3</td>
                        <td data-title="First Name">Jay</td>
                        <td data-title="Last Name">Garrick</td>
                        <td data-title="Location">Central City</td>
                    </tr>
                    <tr>
                        <td data-title="ID">#4</td>
                        <td data-title="First Name">Oliver</td>
                        <td data-title="Last Name">Queen</td>
                        <td data-title="Location">Star City</td>
                    </tr>
                    <tr>
                        <td data-title="ID">#5</td>
                        <td data-title="First Name">Dick</td>
                        <td data-title="Last Name">Grayson</td>
                        <td data-title="Location">Blüdhaven</td>
                    </tr>
                    <tr>
                        <td data-title="ID">#6</td>
                        <td data-title="First Name">Diana</td>
                        <td data-title="Last Name">Prince</td>
                        <td data-title="Location">Themyscira</td>
                    </tr>
                </tbody>
            </table>
            <pre><code>&lt;table summary="This is an example of a table"&gt;
    &lt;caption&gt;Brother Eye database&lt;/caption&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;th scope="col"&gt;ID:&lt;/th&gt;
            &lt;th scope="col"&gt;First Name:&lt;/th&gt;
            &lt;th scope="col"&gt;Last Name:&lt;/th&gt;
            &lt;th scope="col"&gt;Location:&lt;/th&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td data-title="ID"&gt;#1&lt;/td&gt;
            &lt;td data-title="First Name"&gt;Bruce&lt;/td&gt;
            &lt;td data-title="Last Name"&gt;Wayne&lt;/td&gt;
            &lt;td data-title="Location"&gt;Gotham City&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
        </div>
    </div>
</div>



<div id="media" class="section">
    <div class="row">
        <div class="grid-12">
            <h2>Media</h2>
            <p>To float images just add the class img-left of img-right and it will float the image and apply the appropriate margins to the image too. If you want your images to be 100% just add the class img-max and it will become 100% the width of the parent element and height auto to the width.</p>
            <p>For videos all you need to do is wrap your iframe with an element that has the class media and your image will become 100% of it's parent element.</p>
        </div>
    </div>
    <div class="row">
        <div class="grid-12">
            <ol class="columns-2 demo">
                <li>
                    <img src="img/owly-slide-01.png" width="250" border="0" alt="blank image" class="img-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </li>
                <li>
                    <pre><code>&lt;img src="" class="img-left"&gt;
&lt;p&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;</code></pre>
                </li>
                <li>
                    <img src="img/owly-slide-02.png" width="250" border="0" alt="blank image" class="img-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </li>
                <li>
                    <pre><code>&lt;img src="" class="img-left"&gt;
&lt;p&gt;Lorem ipsum dolor sit amet...&lt;/p&gt;</code></pre>
                </li>
                <li>
                    <img src="img/owly-slide-03.png" width="250" border="0" alt="blank image" class="img-max">
                </li>
                <li>
                    <pre><code>&lt;img src="" class="img-max"&gt;</code></pre>
                </li>
                <li>
                    <div class="media">
                        <iframe src="http://player.vimeo.com/video/21465475?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0" frameborder="0"></iframe>
                    </div>
                </li>
                <li>
                    <pre><code>&lt;div class="media"&gt;
    &lt;iframe src="video_link_here" frameborder="0"&gt;&lt;/iframe&gt;
&lt;/div&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="grid-12">
        <ol class="bottom-navigation">
            <li>
                {{#link-to "structure" class="btn btn--size-m btn--color-brand"}}
                    <svg aria-hidden="true" class="icon icon--size-s icon--type-arrowFullLeft icon--onLeft" width="64" height="64" viewBox="0 0 64 64"><path d="M61.1 29L9.3 29 29.5 8.8c0.4-0.4 0.7-0.8 0.8-1.3 0.6-3-2.8-4.6-4.8-2.7L1.2 29.1c-1.6 1.6-1.6 4.1 0 5.7l24.3 24.3c1.5 1.5 3.6 1.3 4.6-0.6 0.6-1.1 0.3-2.4-0.5-3.3L9.4 35H61c2.1 0 3.7-2.2 2.7-4.4C63.2 29.6 62.2 29 61.1 29z"/></svg>Structure
                {{/link-to}}
            </li>
            <li>
                {{#link-to "forms" class="btn btn--size-m btn--color-brand"}}
                    Forms<svg aria-hidden="true" class="icon icon--size-s icon--type-arrowFullRight icon--onRight" width="64" height="64" viewBox="0 0 64 64"><path class="st0" d="M2.9 35l51.8 0L34.5 55.2c-0.4 0.4-0.7 0.8-0.8 1.3 -0.6 3 2.8 4.6 4.8 2.7l24.3-24.3c1.6-1.6 1.6-4.1 0-5.7L38.6 5c-1.6-1.6-4.5-0.9-4.9 1.3 -0.2 0.9 0.1 1.8 0.8 2.5L54.6 29H3c-2.1 0-3.7 2.2-2.7 4.4C0.8 34.4 1.8 35 2.9 35z"/></svg>
                {{/link-to}}
            </li>
        </ol>
    </div>
</div>
